<%= simple_form_for(@review, html: {class: "form-"}) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% @review.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>

  <% end %>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">  
      <div class="page-header">
        <h1>Express Yourself</h1>
        <p class="lead">
          At McFlys we value your opinion. Here's your chance to tell us about your experience.
        </p>
      </div>  
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4">  
      <div class="well well-lg">

      <div class="row">
        <div class="field">
          <div class="col-md-2"><%= f.label :name %></div>
          <div class="col-md-8">
          <%= f.text_field :name %>
        </div>
        <br>
        </div>
        <br>
      </div>

      <div class="row">
        <div class="field">
          
           <div class="col-md-10">
             
            
            <%= f.input :rating, :collection => ["1/5 Star", "2/5 Stars", "3/5 Stars", "4/5 Stars", "5/5 Stars"], :prompt => "Pick One" %>
                       <br>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="field">
 
          <div class="col-md-10">
          
          <%= f.input :barber, :collection => ["Jason Potchen","Rick Ross", "Mark Ripple", "Brandon Smith", "Carson Smith", "Louie Hamilton"], :prompt => "Pick One" %>
            <br>
          </div>
        </div>
      </div>

        <div class="field_content">
          </div class="col-md-2"><%= f.input :content%></div>
        </div>

        <div class="row">
          <div class="col-md-4 col-md-offset-4">  
    
        
              <button type="button" class="btn btn-sm">
                  <%= f.button :submit %>
              </button>
              <button type="button" class="btn btn-default btn-lg">
                  <%= link_to 'Cancel', reviews_path %>
              </button>
          </div>
        </div>

      </div>
    </div>
  </div>   


  
    
 
<% end %>
