
<% if user_signed_in?  %>
<%= link_to('logout', destroy_user_session_path, :method => :delete) %>
<% if current_user.id == 6 %>
<br>
<%= link_to('Appointments', :controller => 'appointments', :action => 'index') %>
<% end %>
<% end %>




<div class="row">
  <div class="col-md-12">
    <div class="page-header"><h1>Word On The Street</h1></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 col-md-offset-9">
    <%= link_to "Write a New Review", new_review_path, class: "btn btn-success btn-lg" %>
  </div>
</div>

<% @reviews.each do |review| %>
<div class="review">
  <strong>Customer: <%= review.name %></strong> 
  <div>Barber: <%= review.barber %></div>
  <div>Rating: <%= review.rating %></div>
  <div class="well"><%= review.content %></div>
  <div class="options>
    <%= link_to time_ago_in_words(review.created_at) + " ago",review %> 

    <% if user_signed_in? and current_user.id == 6 %>
    <span class="admin">
      <%= link_to "Edit", edit_review_path(review) %> |
      <%= link_to "Delete", review, method: :delete, data: {confirm: "Are you absolutely sure you wish to delete this review?"} %>
    </span>
    <% end %>



  </div>
</div>
<% end %>